*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid red; */
}

body{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./images/about.blob.svg");
    background-repeat: no-repeat;
    background-position: cover;
    background-blend-mode: soft-light; 
    ;
}


p, h2,h3, li{
    color: #262626;
}

header{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

header a{
    text-decoration: none;
}


.title{
    color: #003D52;
}

nav {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav li{
    display:flex;
    font-weight: bold;
    width: 99px;
    height: 33px;
    flex-direction: column;

}

nav li a{
    color: #003D52;
    text-decoration: none;
    transition: all .1s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    background: #bae6ff;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 16px;
}

nav li a:hover{
    opacity: 0.9;
    background-color: #001829;
    color: #C2F0FF;
    text-shadow: 1px 1px rgba(211, 211, 211, 0.432);
}

.first-block{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#solution-mindset{
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#solution-mindset img{
    width: 100%;
}

#about-me{
    width: 50%;
    height: 100%;
}

h2{
    font-weight: bold;
    font-size: 3.4rem;
    text-align: center;
    width:100%;

}
#about-me p {
    line-height: 2.5rem;
    font-size: 1.3rem;
}

#about-me h2, p {
text-align: center;
}

.footer h5{
    text-align: center;
    width: 100%;
}

h6{
    background-color: black;
    width:1px;

}


@media (max-width: 425px) {

    .title {
        color: #003D52;
        font-size:2rem;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30%;
        width: 100%;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    nav ul {
        display: flex;
        width: 200%;
        justify-content: space-evenly;
        margin-right: 10%;
    }

    .first-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about-me {
        width: 100%;
        height: 100%;
    }

    #solution-mindset {
        display: flex;
        align-items: center;
        width: 80%;
        margin-left: 40px;
        margin-top: 30px;
    }

    body{
       background-image: none;
    }
}


@media (max-width: 375px) {

    nav {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
        margin-right: 6%;
    }

    nav li {
        display: flex;
        font-weight: bold;
        width: 85px;
        height: 36px;
        flex-direction: column;
    }

    footer h5{
        height: 50%;
        font-size: 0.6rem;
    }
}


@media (max-width: 320px) {

    nav li{
        display:flex;
        font-weight: bold;
        width: 75px;
        height: 36px;
        flex-direction: column;
    
    }
    nav {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
        margin-right: 10%;
    }
    .title {
        color: #003D52;
        font-size: 1rem;
    }

    footer h5{
        height: 50%;
        font-size: 0.6rem;
    }
}