*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid red; */
}

body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p, h2,h3, li{
    color: #262626;
}

h3{
    color:#262626
}

header{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
}

header a{
    text-decoration: none;
}


.title{
    color: #003D52;
}

nav {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav li{
    display:flex;
    font-weight: bold;
    width: 99px;
    height: 33px;
    flex-direction: column;

}

nav li a{
    color: #003D52;
    text-decoration: none;
    transition: all .1s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    background: #bae6ff;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 16px;
}

nav li a:hover{
    opacity: 0.9;
    background-color: #001829;
    color: #C2F0FF;
    text-shadow: 1px 1px rgba(211, 211, 211, 0.432);
}

#Projects{
    text-align: center;
    font-size: 3.4rem;
}

.block-one, .block-two{
    display: flex;
    justify-content: space-evenly;
}


.block-two{
    margin-top: 5%;
}

.project-column{
    border-radius: 41px;
    background: #a0c7e3;
    box-shadow: 9px 9px 10px #6d879a, -9px -9px 18px #d3ffff;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s, box-shadow .5s, transform 1s;
    justify-content: space-around;
    opacity: 0.95;
}

.project-column:hover{
    opacity: 0.87;
    box-shadow: 2px 3px  #001829;
    transform: ease-in-out;
}

.project-column h3{
    text-align: center;
    font-size: 1.7rem;
}

.project-column p{
    text-align: center;
    width: 88%;
    font-weight: 500;
    line-height: 1.4em;
}

.image-1 img{
    width: 100%;
    height: 210px;
}

.image-2 img{
    width: 100%;
    height: 210px;
}

.image-3 img{
    width: 100%;
    height: 210px;
}

.image-4 img{
    width: 100%;
    height: 210px;
}

.image-5 img{
    width: 100%;
    height: 210px;
}

.image-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-6 img{
    width: 100%;
    height: 210px;
}

.footer h5{
    text-align: center;
    width: 100%;
}


/* ------------- MEDIA QUERY ------------*/


@media (max-width: 425px) {

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30%;
        width: 100%;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    nav ul {
        display: flex;
        width: 200%;
        justify-content: space-evenly;
        margin-right: 10%;
    }

    .block-one, .block-two {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .project-column{
        width: 100%;
        margin-bottom: 10%;
    }
    .project-column h3{
        font-size: 1.4rem;
    }

}

@media (max-width: 375px) {

    nav {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
        margin-right: 6%;
    }

    nav li {
        display: flex;
        font-weight: bold;
        width: 85px;
        height: 36px;
        flex-direction: column;
    }

    footer h5{
        height: 50%;
        font-size: 0.6rem;
    }

    .block-one, .block-two {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .project-column{
        width: 100%;
        margin-bottom: 10%;
    }
    .project-column h3{
        font-size: 1.4rem;
    }

}

@media (max-width: 320px) {

    nav li{
        display:flex;
        font-weight: bold;
        width: 75px;
        height: 36px;
        flex-direction: column;
    
    }
    nav {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
        margin-right: 10%;
    }
    .title {
        color: #003D52;
        font-size: 150%;
    }

    footer h5{
        height: 50%;
        font-size: 0.6rem;
    }

    .block-one, .block-two {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .project-column{
        width: 100%;
        margin-bottom: 10%;
    }

    #Projects{
        font-size: 2rem;
    }

    .project-column h3{
        font-size: 1.4rem;
    }

}

