*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid red; */
}

body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:#262626 ;
    color: #f5f5f5
}

p, h2,h3, li{
    color: #262626;
}

h3{
    color:#262626
}

header{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
}


.title{
    color: #f5f5f5;
}

nav {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav li{
    display:flex;
    font-weight: bold;
    width: 120px;
}

nav li a{
    color: lightgray;
    text-decoration: none;
    transition: all .2s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav li a:hover{
    opacity: 0.8;
    color: whitesmoke;
    text-decoration: underline;
    text-shadow: 1px 1px rgba(211, 211, 211, 0.432);
    font-size: larger;
}

.block{
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
}


.first-block{
    height: 340px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.781);
}

.second-block{
    height: 110%;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.781);
}

.third-block{
    height: 100%;
    display: flex;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.781);
}


#headshot,
#about-me{
    width: 40%;
    height: 100%;
}

#headshot img{
    height: 90%;
    display: block;
    margin: auto;
    margin-top: 15px;
    transition: opacity 1s;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.781);
}

#headshot img:hover{
    opacity: 0.85;
}

#about-me h2, p {
text-align: center;
}

#about-me p{
    line-height:1.3em;
}


.project-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 31%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    transition: opacity 0.4s;
    opacity: 1;
    transition: opacity 0.5s, box-shadow .5s, transform 1s;
}

.project-column:hover{
    opacity: 0.85;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.781);
    transform: ease-in-out;
}

.skills-column,
.contact-column{
    width: 45%;
    text-align: center;
}

.image-1 img{
    width: 100%;
    height: 90%;
}

.image-2 img{
    width: 100%;
    height: 85%;
}

.image-3 img{
    width: 100%;
    height: 93%;
}

.image-4 img{
    width: 100%;
    height: 90%;
}

.image-5 img{
    width: 100%;
    height: 92%;
}

.image-6 img{
    width: 100%;
    height: 82%;
}

.block h3{
    text-align: center;
}

.project-column p{
    font-style: italic;
    line-height: 1.4em;
}

#project-1 p{
    margin-top: 19%;
    width: 19em;
}

#project-2 p{
    margin-top: 15%;
    width: 19em;
}

#project-3 p{
    margin-top: 20%;
    width: 19em;
}

#project-4 p{
    margin-top: 20%;
    width: 19em;
}

#project-5 p{
    margin-top: 21%;
    width: 19em;
}

#project-6 p{
    margin-top: 12%;
    width: 19em;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    
}

.contact-column{
    width: 45%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact-container img{
    border: 1px solid black;
    background-color: slategray;
    
}

#linkedin{
    display: flex;
}


#gmail img,
#github img,
#linkedin img{
    height: 80px;
    width: 80px;
    padding: 5px;
    border-radius: 50%;
    transition: opacity 0.5s, box-shadow .5s, transform 1s;
}

#gmail img:hover,
#github img:hover,
#linkedin img:hover{
    opacity: 0.75;
    transform: ease-in-out;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.781);
}

.skill-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.4em;
}

.footer h5{
    text-align: center;
    width: 100%;
}

h6{
    background-color: black;
    width:1px;

}




